extends layout

block content
  .container
    h1 About Us

    h2 Our Mission
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    h2 Our Story
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    h2 What We Stand For
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    h2 Meet Our Team
    .team-container
      .team-member
        h3 Sarah
        img(src='/images/team-placeholder.png', alt='Team member photo')
        p Position on the project
        p Role summary
        p Anything else
      .team-member
        h3 Amanda
        img(src='/images/team-placeholder.png', alt='Team member photo')
        p Position on the project
        p Role summary
        p Anything else
      .team-member
        h3 Katie
        img(src='/images/team-placeholder.png', alt='Team member photo')
        p Position on the project
        p Role summary
        p Anything else
      .team-member
        h3 Ally
        img(src='/images/team-placeholder.png', alt='Team member photo')
        p Position on the project
        p Role summary
        p Anything else
      .team-member
        h3 José
        img(src='/images/team-placeholder.png', alt='Team member photo')
        p Position on the project
        p Role summary
        p Anything else

    h2 Contact Us
    a(href="mailto:adaptive.remote.ask@gmail.com") Send us an email
