extends layout

block content
  .container
    h1 About Us
    p Learn more about our team and mission!
    p This view is currently unavailable due to being still under development. Please visit it later!
