extends layout

block content
  .container
    h1 Troubleshooting
    p Need help with setting up? Here's how you can troubleshoot your device.
    p This view is currently unavailable due to being still under development. Please visit it later!
