extends layout

block content
  .container
    .home-content
      .home-text
        h1 remoteask
        p ask and ye shall stream!
        p set up and manage your remoteask now
        a.btn(href='/set_up_remote') Get Started
      .home-image
        // Placeholder for image you'll add later
