doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/web_page.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js')
  body(class='light')
    nav
      .nav-left
        a(href='/') Home
        a(href='/set_up_remote') Remote Set Up
        a(href='/configure') Configure
        a(href='/help') Help
        a(href='/about_us') About Us
      .nav-right
        button#theme-toggle.btn-toggle
          i.fas.fa-sun
    block content
    script(src='/dynamics/theme_toggle.js')
