extends layout

block content
  .container
    h1 Pair RemoteASK with the TV
    p This view is currently unavailable due to being still under development. Please visit it later!
  
    h2 Additional Information
    button.accordion Section 1
    .panel
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    button.accordion Section 2
    .panel
      p Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.

    button.accordion Section 3
    .panel
      p In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
