doctype html
html
  head
    title Remote
    link(rel="stylesheet", href="/stylesheets/remote.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
  body
    .remote-container
      button.power(onclick="sendKey('Power')")
        i(class="fas fa-power-off")

      .button-grid
        button.movie1(onclick="fetch('/remote/launch/12/70176514/series')") Naruto
        button.movie2(onclick="fetch('/remote/launch/12/80180046/series')") Grey's
        button.movie3(onclick="fetch('/remote/launch/291097/622e6dbd-79d2-49ec-b2f5-2a46a29bd57d/series')") Cheetah
        button.add(data-index="4", onclick="addMovie(this)") ➕
        button.add(data-index="5", onclick="addMovie(this)") ➕
        button.add(data-index="6", onclick="addMovie(this)") ➕
        button.add(data-index="7", onclick="addMovie(this)") ➕
        button.add(data-index="8", onclick="addMovie(this)") ➕

    script(src="/dynamics/remote.js")
