doctype html
html
  head
    title Remote
    link(rel="stylesheet", href="/stylesheets/remote.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
  body
    .remote-container
      //- Power button with classic power icon
      button.power(onclick="sendKey('Power')")
        i(class="fas fa-power-off")

      //- Two-column layout with 8 buttons
      .button-grid
        button.movie1(onclick="sendKey('Movie1')") movie1
        button.movie2(onclick="sendKey('Movie2')") movie2
        button.add(onclick="sendKey('Add1')") ➕
        button.add(onclick="sendKey('Add2')") ➕
        button.add(onclick="sendKey('Add3')") ➕
        button.add(onclick="sendKey('Add4')") ➕
        button.add(onclick="sendKey('Add5')") ➕
        button.add(onclick="sendKey('Add6')") ➕

    // Import the remote.js file here
    script(src="/dynamics/remote.js")
