extends layout

block content
  .container
    .remote-setup
      .remote-section
        // Space for image you'll add tomorrow
        img(src="#", alt="New remote image placeholder")
        h2 Pair up new remote with TV
        a.btn(href='/pair') Let's Start!
      
      .remote-section
        // Space for image you'll add tomorrow
        img(src="#", alt="Existing remote image placeholder")
        h2 Program existing remote
        a.btn(href='/settings') Adjust Preferences
