extends layout

block content
  .container
    .remote-setup
      .remote-section.left
        img(src='/images/2.png', alt='Pair new remote')
        h2 Pair up new remote with TV
        a.btn(href='/pair') Let's Start!

      .remote-section.right
        img(src='/images/3.png', alt='Program existing remote')
        h2 Program existing remote
        a.btn(href='/settings') Adjust Preferences
