extends layout

block content
  .container
    .remote-setup
      .remote-section
        img(src='/images/2.png', alt='New remote image')
        h2 Pair up new remote with TV
        a.btn(href='/pair') Let's start

      .remote-section
        img(src='/images/3.png', alt='Existing remote image')
        h2 Program existing remote
        a.btn(href='/settings') Adjust preferences
